<!-- MENU RESPONSIVE -->
<div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
  <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" data-bs-placement="right" data-bs-original-title="Icon-only">
      <i class="bi-bootstrap fs-1"></i>
  </a>
  <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
      <li class="nav-item">
          <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
            <i class="bi bi-alarm fs-2"></i>
          </a>
      </li>
      <li>
          <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
              <i class="bi-speedometer2 fs-2"></i>
          </a>
      </li>
      <li>
          <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
              <i class="bi-table fs-2"></i>
          </a>
      </li>
      <li>
          <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
              <i class="bi-heart fs-2"></i>
          </a>
      </li>
      <li>
          <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
              <i class="bi-people fs-2"></i>
          </a>
      </li>
  </ul>
  <div class="dropdown">
      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi-person-circle h2"></i>
      </a>
      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
      </ul>
  </div>
</div>




<!-- MENU LATERAL DESPLEGABLE -->
<div class="offcanvas offcanvas-start" style="width: 50%;" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Settings</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <p>Here Avisame Settings</p>
    </div>
  </div>
  