<!-- Card Disabled -->
<% allTasks.forEach(task => { %>

  <% if(task.finishedDate) { %>           

    <div class="d-flex flex-column gap-3 col-12 col-sm-4 col-md-3 col-lg-2 ">
      
      <!-- Card -->
      <div id="task-title-<%=task._id%>" class="card _cardDisabled _cardInput color-terciary">
        
        <!-- Title -->
        <div class="d-flex flex-row justify-content-between text-break" placeholder="Título">
          <div class="d-flex card-title text-break justify-content-between">
            <p><%= task.title %></p>
          </div>
          <div contenteditable="false">
            <a href="#" class="d-flex" >
              <i class="bi bi-x-square"></i>
            </a>
          </div>
        </div>
        
        <!-- Task Text  -->
        <div id="task-text-<%=task._id%>" class="card__title text-break" > 
          
          <div class="card-text">
            <%= task.text %>
          </div> 
          
          <!-- Icon -->
          <div>
            <div class="d-flex justify-content-between">
            </div>
          </div>
        </div>

      </div>

    </div>
    
  <% } %> 
<% }) %> 
  