<!DOCTYPE html>
<html>

<head>
  <title>Avisa.me</title>
  <%- include("./partials/_head") %>
</head>

<body>

  <!-- Inicio contenedor -->
  <div class="container-fluid">
    <!-- Única fila | Todo el cuerpo -->
    <div class="row">
      <!-- Columna menu izquierda workspace. Ocupa una sección del grid - 1/12 -->
      <div class="col-sm-1 color-primary sticky-top">
        <%- include("./partials/navBar") %>
      </div>

        <div class="col-sm-11 p-4 min-vh-100">
        <!-- <div class="col-md-4 mx-auto"> -->
          <div class="d-flex justify-content-center">
          <!-- <div class="_card"> -->
              <div class="_cardEnable _cardInput">
                <form action="/" method="POST">
                  <input type="text" name="title" placeholder="Título" id="title" maxlength="140"><br>
                  <input type="text" name="text" placeholder="Añade una nota..." id="text" maxlength="5000">
                  <button type="submit" class="btn"><span class="iconify" data-icon="carbon:send-alt" data-inline="false"></span>
                  </button>
                </form>
              </div>             
          </div>

          <div class="d-flex flex-row flex-wrap pt-4 gap-2">
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Scripts globales app -->
  <%- include("./partials/_scripts") %>
</body>
</html>