<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%- include("./partials/_head")  %> 
  </head>
  <body>

<head>
  <title></title>
  <%- include("./partials/_head") %>
    <script src="/js/script.js"></script>
</head>

    <!-- Inicio contenedor -->
    <div class="container-fluid">
      <!-- Única fila | Todo el cuerpo -->
      <div class="row">
          <!-- Columna menu izquierda workspace. Ocupa una sección del grid - 1/12 -->
          <div class="col-sm-1 bg-light sticky-top">
            <%- include("./partials/navBar")  %>
          </div>

          <!-- Columna cuerpo workspace. Ocupa 11 secciones del grid - 11/12 -->
          <div class="col-sm-11 p-4 min-vh-100">

            <!-- Primera fila del cuerpo. Crear primera nota. Centrado -->
            <div class="d-flex justify-content-center">

              <div class="_cardEnable _cardInput" >
                <form action="/" method="POST">
                  <input type="text" name="title" placeholder="Título" id="title" maxlength="140"><br>
                  <input type="text" name="text" placeholder="Añade una nota..." id="text" maxlength="5000">
                  <input type="submit" value="!">
                </form>
              </div>

            </div>
            
            <!-- Segunda fila del cuerpo. Todas las nostas. Izquierda a derecha -->
            <div class="d-flex flex-row flex-wrap pt-4 gap-2">

             


            </div>
          
          </div>


      
          
      </div>
      <!-- Fin única fila | Todo el cuerpo -->
  </div>
  <!-- Fin contenedor -->


                  <!-- Nueva nota / Formulario -->
                  <div class="col-sm p-3 min-vh-100  mb-2 d-flex justify-content-center">
                    <div class="_cardEnable _cardInput" >
                      <form action="/" method="POST">
                        <input type="text" name="title" oninput="validarInput()" placeholder="Título" id="title"
                        maxlength="140"><br>
                      <input type="text" name="text" oninput="validarInput()" placeholder="Añade una nota..." id="text"
                        maxlength="5000">
                      <input id="createTask" style="visibility: hidden" type="submit" value="!"> <!-- deshabiltar boton -->
                      </form>
                    </div>
                  </div>






    <div class="container p-5">

        <!-- Nueva nota / Formulario -->
      <div class="container p-0 mb-2 d-flex justify-content-center">
        <div class="_cardEnable _cardInput" >
          <form action="/" method="POST">
            <input type="text" name="title" placeholder="Título" id="title" maxlength="140"><br>
            <input type="text" name="text" placeholder="Añade una nota..." id="text" maxlength="5000">
            <input type="submit" value="!">
          </form>
        </div>
      </div>

    </div>
    <%- include("./partials/_scripts")  %> <!-- Scripts globales app -->
    
  </body>
</html>
