<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
  </head>
  <body style="background-color: #e1e5e8;">

  <!-- Contenedor -->
  <div class="container-fluid py-5 px-0">
    <!-- Única fila -->
    <div class="row justify-content-center min-vh-100">
      <!-- Única columna -->
      <div class="col-sm-6 h-100 bg-light p-0">
        <!-- Encabezado -->
        <div class="d-flex justify-content-center" style="background-color: #1A829C;">
          <img src="/images/logo_avisame.svg" width="250px" height="250px" alt="">
        </div>
        <!-- Cuerpo -->
        <div class="d-flex justify-content-center bg-light p-4">
          <!-- Columna central -->
          <div class="col-sm-8 bg-light p-2">

            <!-- Título -->
            <div class="d-flex justify-content-center bg-light p-4">
              <h1>Recupera tu contraseña!</h1>
            </div>
            <!-- Contenido -->
            <div class="justify-content-center bg-light p-4">
              <p> Si estás recibiendo este correo es porque ústed (o cualquier otra persona) ha solicitado cambiar la contraseña de su cuenta. </p>
              <p> Por favor, haga click en el siguiente enlace o cópielo en su navegador para completar el proceso: </p>
              <p><a href='http://${req.headers.host}/user/recovery/reset/${token}'>http://${req.headers.host}/user/recovery/reset/${token}</a></p>
              <p> Si ústed no ha solicitado esta operación, por favor ignore este correo y su contraseña permanecerá igual. </p>
            </div>
            <!-- Imagen -->
            <div class="d-flex justify-content-center bg-light p-4">
              <img src="https://img.icons8.com/color/452/keys-holder.png" alt="lost keys" width="150" height="150">
            </div>

          </div>
          <!-- Fin Columna central -->
        </div>
        <!-- Fin Cuerpo -->
        <!-- Footer -->
        <div class="d-flex flex-row-reverse px-2" style="background-color: #1A829C;">
          <img src="/images/logo_avisame.svg" width="100px" height="100px" alt="">
          <i class="fas fa-facebook-f fa-2x"></i>
        </div>
        <!-- FIn Footer -->
      </div>
      <!-- Fin Única columna -->
    </div>
    <!-- Fin Única fila -->
  </div>
  <!-- Fin Contenedor -->
  </body>
</html>
