
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body, html * {
    color :rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.color-primary {   
  background: #1A829C;
}

.color-secundary{
  background-color: #91CCDB;
}

.color-terciary {
  background-color:  #ADAAB0;
}

.color-quartiary {
  background-color:  #EDEEED;
}
/* Gray 4 */

/* Gray 4 */


h1 {
  color :rgba(0, 0, 0, 0.5);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 64px;
}


/* input-nota */
._cardEnable{

min-width: 200px;
height: 82px;
left: 67px;
top: 133px;
padding: 0.5em;
border: 1px solid #929090;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}


._card__title{
/* Titulo */

height: 16px;
left: 15px;
top: 15.38px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: rgba(0, 0, 0, 0.5);
}

._card__title p{
  max-width: 80%;
}

._cardDisabled{

  min-width: 200px;
  height: 82px;
  left: 67px;
  top: 133px;
  padding: 0.5em;
  
  background: #E0DDDD;
  border: 1px solid #ACA9AE;
  box-sizing: border-box;
  border-radius: 5px;
  
  }


  ._cardInput{
  color: grey;
  }

  ._cardInput input{
    border: 0;
    font-weight: bold;
    height: 2em;
  }

