
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ------ WORKSPACE ------- */

  html, body, html * {
      color :rgba(0, 0, 0, 0.5);
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
  }

  .color-primary {   
    background: #1A829C;
  }

  .color-secondary{
    background-color: #91CCDB;
  }

  .color-terciary {
    background-color:  #ADAAB0;
    border: 1px solid #ADAAB0;
  }

  .color-quartiary {
    background-color:  #EDEEED;
    border: 1px solid #EDEEED;
  }

  .color-settings {
    background-color: #32D1F9;
  }

  h1 {
    color :rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 64px;
  }

  li {
    list-style: none;
    text-decoration: none;
  }

  input, textarea {
    border: none;
    outline: none;
    resize: none;
  }
  
  p {
    min-width: 100%;
  }
  
/* ------ MAIN CARD ------------- */

  ._cardMain {
    color: grey;
    padding: 0.5em;
    border: 1px solid #929090;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }
/*   .reminderTag{
    padding-top: 0.4em;
  } */

  .reminderTagText{
    background-color:rgba(0, 0, 0, 0.13);
    color: rgba(46, 45, 45);
    font-size: 0.85em;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 20px;
  }

  .reminderTagThrough{
    background-color:rgba(0, 0, 0, 0.13);
    color: rgba(46, 45, 45, 0.4);
    font-size: 0.85em;
    padding: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 20px;
    text-decoration: line-through; 
  }
  
  .reminderTagText span{
    color: rgb(46, 45, 45);
  }
  
  .reminderTagThrough span{
    color: rgb(46, 45, 45);
  }

  .textMenu {
    color :#ADAAB0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;   
  }

  .task--title {
    min-height: 1em;
    min-width: 90%;
  }

  /* ._cardInput input {
  border: 0;
  font-weight: bold;
  height: 2em;
  } */

/* ------ CARD ENABLED --------- */

  ._cardEnabled {
    min-height: 16vh;
    box-sizing: border-box;
    /* outline: none; */
    padding: 0.5em;
    /* border: 1px solid #929090; */
    border: 1px solid #EDEEED;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  ._card__title {
    min-width: 100%;
    font-family: Roboto;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
  }

/* ------ CARD DISABLED ----------- */

  ._cardDisabled {
    /* min-width: 200px; */
    min-height: 16vh;
    box-sizing: border-box;
    padding: 0.5em;
    background-color:  #EDEEED;
    border: 1px solid #ACA9AE;
    /* box-sizing: border-box; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

/* ---------  ☰  ---------- */

.hamburguerBotton {
  /* background-color: #ACA9AE */
}
  
/* ----- NAV ------ */

.nav-toggle {
  color: white;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

.nav-link:hover {
  background-color: #91CCDB;
}

.nav-menu {
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #034574;
  transition: 0.5s;
}

/* ----- PROFILE ------ */

.icons_profile {
  text-decoration: none;
}

.icons_profile:hover {
  cursor:pointer;
}

/* ----- COLOR TAREA ------ */

.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
button[title]{
  border-radius: 50px;
}

.dropup {
  position: absolute;
  margin-left: 30px;
  margin-top: 0.4rem;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 8rem;
  bottom: 20px;
  z-index: 1;
  border-radius: 8px;
  border: 0.5px rgba(0, 0, 0, 0.320) solid;
  padding-left: 4px;
  padding-top: 3px;
  margin-left: 8px;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block; 
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}